body {
    margin: 20px auto;
    width: 70%;
    max-width: 800px;
    font-size: 1.4em;
    line-height: 1.6em;
    font-family: "Gill sans", sans-serif;
    font-weight: 300;
    color: #3d4142;
}
nav ul, footer ul {
    font-weight: 600;
    padding: 0px;
    list-style: none;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
strong {
    font-weight: 600;
}
a {
    text-decoration: none;
    color: #818a8c;
}
a:hover {
    text-decoration: underline;
    color: #61696b;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
footer {
    border-top: 1px solid #898fb3;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
}

ul.posts li {
    list-style: none;
}

.post-block .post-title {
  font-size: 0.8em;
  line-height: 0.8em;
  margin-top: -0.25em;
  margin-bottom: 2.0em;
}

.post-block .post-title a {
  color: #3d4142;
}

.post-date {
  color: #949b9e;
  font-size: 0.8em;
  line-height: 0.8em;
}

li.active {
}

li a {
  padding: 5px;
}

li.active a {
  color: #f0f0f0;
  background-color: #3d4142;
}

nav {
  margin-bottom: 2em;
}
