---
layout: default
title: Blogs
---
<ul class="posts">
  {% for post in site.posts %}
    {% if post.categories.size == 0 or post.categories[0] == "blogs" %}
      <div class="post-block">
        <div class="post-date">
          {{ post.date | date_to_string }}
          {% assign categories = post.categories | slice: 1, post.categories.size %}
          {% for category in categories %}
            ⋅ {{ post.categories[1] }}
          {% endfor %}
        </div>
        <div class="post-title">
          <a href="{{ post.url }}" title="{{ post.title}}">
            <h2>
              {{ post.title }}
            </h2>
          </a>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</ul>
