<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel="alternate" type="application/rss+xml" href="https://fanglinhe.github.io/blog/atom.xml" />
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Blog</a></li>
            </ul>
        </nav>
        <div class="container">
        
        {{ content }}
        
        </div><!-- /.container -->
        <footer>
            <ul>
                <li><a href="https://github.com/fanglinhe">Github</a></li>
                <li><a href="https://www.linkedin.com/in/fanglinhe/">LinkedIn</a></li>
                <li><a href="blog/atom.xml" target="_blank">RSS</a></li>
            </ul>
        </footer>
    </body>
</html>

