<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="/css/syntax.css" rel="stylesheet">
    <link rel="alternate" type="application/rss+xml" href="/notes/atom.xml" />
  </head>
  <body>
    <nav>
      <ul>
      {% assign url = page.url | remove:'index.html' %}
      {% assign categories = url | split: "/" %}
      {% assign matchURL = "/" %}
      {% if categories.size > 1 %}
        {% assign matchURL = matchURL | append: categories[1] | append: "/" %}
      {% endif %}

      {% for link in site.navigation %}
      <li {% if url == link.url or link.url == matchURL %}class="active"{% endif %}>
          <a href="{{link.url}}" title="{{link.title}}">{{link.text}}</a>
      </li>
      {% endfor %}
      </ul>
    </nav>
    <div class="container">

    <h1>
      {{ page.title }}
    </h1>

    {{ content }}
    
    </div><!-- /.container -->
    <footer>
      <ul>
        <li><a href="https://github.com/fanglinhe" target="_blank">Github</a></li>
        <li><a href="https://www.linkedin.com/in/fanglinhe/" target="_blank">LinkedIn</a></li>
        <li><a href="/notes/atom.xml" target="_blank">RSS</a></li>
      </ul>
    </footer>
  </body>
</html>

