<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="alternate" type="application/rss+xml" href="/notes/atom.xml" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/notes">Notes</a></li>
      </ul>
    </nav>
    <div class="container">
    
    {{ content }}
    
    </div><!-- /.container -->
    <div id="footer">
      <footer>
        <ul>
          <li><a href="https://github.com/fanglinhe" target="_blank">Github</a></li>
          <li><a href="https://www.linkedin.com/in/fanglinhe/" target="_blank">LinkedIn</a></li>
          <li><a href="/notes/atom.xml" target="_blank">RSS</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>

