---
layout: default
---
<p class="meta">
  {{ page.date | date_to_string }}
  {% assign categories = page.categories | slice: 1, page.categories.size %}
  {% for category in categories %}
    ⋅ {{ category }}
  {% endfor %}
</p>

<div class="post" markdown="1">
  {{ content }}
</div>

<hr>

<div>
  <h2>Leave a comment</h2>
  <p>Please sign in with your GitHub account.</p>
  <script src="https://utteranc.es/client.js"
          repo="FangLinHe/FangLinHe.github.io"
          issue-term="pathname"
          theme="github-light"
          crossorigin="anonymous"
          async>
  </script>
</div>

